.Custom-navbar{
    left: 50%;
    transform: translate(-50%);
    top: 2%;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.16);
    border: 1px solid rgba(255,255,255,0.28) ;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    width: 95%;
}

.underlay{
    background-color: rgba(0,0,0,0.6);
    z-index: 55;
    visibility: hidden;
}

.sidebar{
    transform: translateX(-100%);
    transition: all 0.3s;
}


       .rating i {
      color: gold;
    }

    .tpcp-card__badge {
    position: absolute;
    top: 12px;
    left: 16px;
    background: #eef2ff;
    color: #364fc7;
    font-weight: 800;
    font-size:10px;
    padding: 6px 10px;
    border-radius: 999px;
    z-index: 2;
}

.products{
    scroll-behavior: smooth;
}
.products-chevron{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    cursor: pointer;
}

.rounded{
    width: 50px;
    height: 50px;
    background-color:white;
    border:1px solid black;
    position: relative;

}